/* GENERAL */
* {
    font-family: Arial;
}
.bg-primary { 
    background: #004861;
}
.bg-secondary { 
    background: #004861;
}
.color-primary {
    color: #004861
}
.color-secondary {
    color: #090909;
}

/* HEADER */
header {
    padding: 20px 0px;
}
.header-container , .header-link-menu {
    display: flex
}
.header-link-menu {
    align-items: center;
}
header .header-logo {
    margin: 0 auto;
}

/* main-news SECTION */
.type {
    display: flex;
    margin: 40px 0px;
}
.type  {
    display: flex;
    justify-content: space-between;
}
.type.type-1  article {
    width:100%;
    position: relative;
}
.type.type-1  article::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(252, 249, 249, 0) 0, #000 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}
.type  article:nth-child(even) {
    margin-left: 20px;
}
.type  article:nth-child(odd) {
    margin-right: 20px;
}
.type.type-1  .main-news-image {
    width: 100%;
}
.type.type-1  .main-news-link {
    position: absolute;
    bottom: 0px;
    padding: 24px;
    color: white;
    z-index: 1;
}
.main-news-link h3 {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold
}
.main-news-link h1 , .main-news-link h3 {
    margin: 5px 0px;
}
.main-news-link h1 {
    font-size: 21px;
    font-weight: bold;
}
.main-news-link h2 {
    font-size: 14px;
    line-height: 20px;
}
.main-news-share {
    position: absolute;
    top: 24px;
    right: 24px;
}
.main-news-type-2 {
    display: flex;
}

.main-news-type-2 > div {
    margin-left: 20px;
    position: relative;
}
.main-news-type-2 .main-news-link {
    display: inline-block;
}
.main-news-type-2 a h1 {
    font-size: 18px;
}
.main-news-type-2 .main-news-share {
    left: 0px;
    bottom: 0px;
    top: auto;
}