/* GENERAL */
* {
    font-family: Arial;
    -webkit-transition: all .5s linear 0s;
    -moz-transition: all .5s linear 0s;
    transition: all .5s linear 0s;
}
a:hover {
    text-decoration: none;
}
.bg-primary { 
    background: #004861;
}
.bg-secondary { 
    background: #004861;
}
.bg-footer {
    background: #d5e11f;
}

.color-primary {
    color: #004861
}
.color-secondary {
    color: #090909;
}

/* HEADER */
header {
    padding: 20px 0px;
}
.header-container , .header-link-menu {
    display: flex
}
.header-link-menu {
    align-items: center;
}
header .header-logo {
    margin: 0 auto;
}

/* main-news SECTION */
.type {
    display: flex;
    margin: 40px 0px;
    flex-wrap: wrap;
}
.type  {
    display: flex;
    justify-content: space-between;
}
.type.type-1  article {
    /*width:100%;*/
    position: relative;
}
.type.type-1  article::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(252, 249, 249, 0) 0, #000 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}
.main-news-type-1 , .main-news-type-2 {
    width: calc(50% - 20px)
}
.type.type-1  .main-news-image {
    width: 100%;
}
.type.type-1  .main-news-link {
    position: absolute;
    bottom: 0px;
    padding: 24px;
    color: white;
    z-index: 1;
}
.main-news-link h3 {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold
}
.main-news-link h1 , .main-news-link h3 {
    margin: 5px 0px;
}
.main-news-link h1 {
    font-size: 21px;
    font-weight: bold;
}
.main-news-link h2 {
    font-size: 14px;
    line-height: 20px;
}
.main-news-share {
    position: absolute;
    top: 24px;
    right: 24px;
}
.main-news-type-2 {
    display: flex;
}
.main-news-type-2 > div {
    width: 50%;
}
.main-news-type-2 > .type-2-image {
    padding-right: 20px;
}
.main-news-type-2 > .type-2-links {
    position: relative;
}
.main-news-type-2 .type-2-image img {
    width: 100%;
}
.main-news-type-2 .main-news-link {
    display: inline-block;
}
.main-news-type-2 a h1 {
    font-size: 18px;
}
.main-news-type-2 .main-news-share {
    left: 0px;
    bottom: 0px;
    top: auto;
}

article.main-news-type-3 {
    margin: 0px 0px 20px 0px !important;
    width: calc(25% - (90px /3));
}

article.main-news-type-3 > img{
    width: 100%;
}
.main-news-type-3 .main-news-share {
    position: inherit;
}
.main-news-type-3 .main-news-share img {
    margin-top: 10px;
}
section .type-3 {
    overflow: hidden;
    height: 300px;
    margin-top: 5px;
}
.section-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-more {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/* ADVERTISING */
#advertising {
    margin: 20px 0px;
    background: #eee;
    padding: 30px 0px;
}
#advertising .content {
    border: 1px solid #999;
    width: 70%;
    max-width: 728px;
    height: 90px;
    background: #ccc;
    margin: 0 auto;
    padding: 5px;
    text-transform: uppercase;
    color: #999;
}

/* FOOTERT */
footer{
    padding: 20px 0px;
    font-size: 10px;
    margin-top: 40px;
}
footer > div {
    display: flex;
    justify-content: space-between;
}
footer .footer-logo {
    flex: 1;
    margin: 0px 30px;
}
