* {
  margin: 0;
  padding: 0;
}

body {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #004861;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

#main-section {
  background-color: beige;
}

.part1 {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.part1-image {
  border: 2px solid white;
  margin-left: 20px;
}

.part2 {
  background-color: rosybrown;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.part3 {
  background-color: palegoldenrod;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.banner {
  background-color: gainsboro;
  height: 120px;
  width: 100%;
}

#brasil-section {
  background: burlywood;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#mundo-section {
  background-color: lightpink;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer {
  background-color: blanchedalmond;
  height: 120px;
  width: 100%;
}

